body {
  margin: 0;
  background-image: url(https://wallpaperaccess.com/full/1614776.jpg);
  background-size: cover;
}

.header-00 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(7px);
  box-shadow: 5px 0 15px 2px;
  position: sticky;
  top: 0;
}

.header-001 {
  background-color: transparent;
  font-family: 'Hedvig Letters Serif', serif;
  color: white;
  font-size: larger;
}

.main-00 {
  display: flex;
  padding-top: 25px;
}

.main-001 {
  background-color: transparent;
  width: 400px;
  height: 495px;
  margin-left: 30px;
  border-radius: 15px;
  backdrop-filter: blur(7px);
  box-shadow: 5px 0 15px 2px;
}

.main-002 {
  background-color: transparent;
  backdrop-filter: blur(7px);
  box-shadow: 5px 0 15px 2px;
  border-radius: 15px;
  width: 810px;
  height: 495px;
  margin-left: 40px;
}

.sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 400px;
  height: 200px;
}

.img {
  width: 155px;
  border: solid  black 1px;
  border-radius: 80px;
}

.sec-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 25px;
  width: 400px;
  height: 70px;
}

.sec-3 {
  background-color: transparent;
  color: white;
  padding-left: 25px;
  max-height: 225px;
  width: 400px;
  height: 225px;
}

.about-me {
  padding-left: 15px;
  color: white;
}

.parag-00 {
  padding-left: 15px;
  color: white;
}

.why-00 {
  padding-left: 15px;
  color: white;
}

.reason-00 {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.extra-00 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  height: 180px;
}

.ex-000 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: transparent;
  height: 150px;
}

.fav-pic {
  width: 130px;
  border: solid black 1px;
  border-radius: 15px;
}
